.header{
    background-color: chartreuse;
    grid-area: header;
}
.aside1{
    background-color: aquamarine;
    grid-area: aside1;
}
.aside2{
    background-color: blanchedalmond;
    grid-area: aside2;
}
.noidung{
    background-color: rgb(195, 137, 205);
    grid-area: noidung;
}
.footer{
    background-color: blueviolet;
    grid-area: footer;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "aside1 noidung aside2"
    "footer footer footer"
    ;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 35px auto 35px;
}
.anh{
    text-align: center;
    padding-bottom: 20px;
}
.vanban{
    padding-left: 10px;
}
.header, .aside1, .aside2, .footer{
    text-align: center;
    padding-top: 8px;
}
@media only screen and (max-width: 600px){
    .container{
        display: grid;
        grid-template-areas: 
        "header"
        "noidung"
        "aside1"
        "aside2"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 35px auto auto auto 35px;
       
    }
    .header{
        grid-area: header;
    }
    .noidung{
        grid-area: noidung;
    }
    .aside1{
        grid-area: aside1;
        height: 250px;
    }
    .aside2{
        grid-area: aside2;
        height: 250px;
    }
    .footer{
        grid-area: footer;
    }
   
}